<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scale=0;"/>
             	<meta name="google-site-verification" content="TyGKARaKs5fLdtTk7xM_3hKnpbnArwxh_piFC7skOvc" />
		<meta name="description"
			content="Iasi Linux User Group (ISLUG) este un grup informal pentru pasionaţii Linux şi Open Source ">
		<meta name="keywords"
			content="Gnu, Linux, Open Source, FOSS, FLOSS">
		<title>{{ page.title }}</title>
		<link href="/styles/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div id="top_freeze">
		<div id="header">
			<a href="/index.html"><img src="/images/islug_banner.svg" alt="ISLUG"/></a>
		</div>

		<div id="nav">
		<div id ="nav_wrapper">
			<ul>
				<li><a href="/index.html">acasă</a></li>
				<li><a href="#">despre &nabla;</a>
				<ul>
					<li><a href="/pages/initiative.html">iniţiative</a></li>
					<li><a href="/pages/membri.html">membri</a></li>
					<li><a href="/pages/parteneriate.html">parteneriate</a></li>
				</ul></li>
				<li><a href="#">activităţi &nabla;</a>
				<ul>
					<li><a href="/pages/intalniri.html">întâlniri</a></li>
					<li><a href="/pages/evenimente.html">evenimente</a></li>
					<li><a href="/pages/ateliere.html">ateliere</a></li>
					<li><a href="/pages/proiecte.html">proiecte</a></li>
					<li><a href="/pages/cariere.html">cariere</a></li>
				</ul></li>
				<li><a href="#">blog</a></li>
				<li><a href="/pages/contact.html">contact</a></li>
			</ul>
		</div>
		</div>

	</div>

		<div id="section">
			{{ content }}
		</div>

		<div id="aside">
			<p>Dezvoltare site</p>
			<p>Rezumat întâlniri</p>
		</div>

		<div id="footer">
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Acest proiect se află sub <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
		</div>
	</body>
</html>
